# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
uploads/

# Database
*.db
*.sqlite3

# Logs
*.log
